.container{
    display:grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}
.box1{
    background-color: coral;
    grid-column: 1/3;
    height:100px;
    text-align: center;

}
.box2{
    background-color: rgb(226, 255, 80);
    grid-column: 1/1;
    grid-row:2/4;
    height:100px;
    text-align: center;
}
.box3{
    background-color: rgb(255, 80, 80);
    text-align: center;
}
.box4{
    background-color: rgb(80, 203, 255);
    text-align: center;
}
.box5{
    background-color: rgb(211, 80, 255);
    grid-column: 1/3;
    height:100px;
    text-align: center;
}
.box6{
    background-color: rgb(133, 255, 80);
    grid-column: 1/3;
    height:100px;
    text-align: center;
}